.table_container {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}

.table_container th {
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 1px solid #dddddd;
  cursor: pointer;
}

.table_container td {
  border: 1px solid #dddddd;
  padding: 5px;
  text-align: center;
}

.table_container tr td:first-child,
.table tr th:first-child {
  border-left: none;
  text-align: left;
}

.table_container tr td:last-child,
.table tr th:last-child {
  border-right: none;
}