.parent_main_map {
  width: 100%;
  max-width: 1600px;
  height: 700px;
}

#map {
  height: 700px;
  width: 100%;
}

.custom_marker {
  width: 32px;
  height: 32px;
  display: block;
  color: aqua;
}

.custom_marker .custom_block {
  width: 100%;
  height: 100%;
  border: 50%;
  background-color: var(--blueviolet-color-700);
}