body {
  background-color: rgb(33, 34, 34);
}

.parent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 100px;
}

.traffic_lights {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 200px;
  height: 400px;

  background-color: rgb(146, 146, 146);
}

.red_color,
.yellow_color,
.green_color {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.red_color {background-color: rgba(255, 0, 0, 0.4);}
.yellow_color {background-color: rgba(255, 255, 0, 0.4);}
.green_color {background-color: rgba(5, 214, 5, 0.4);}

.lsn-button {
  width: 150px;
  height: 50px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;

  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}